SUPABASE_URL=https://gwbiwweeznbuqfgawywv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd3Yml3d2Vlem5idXFmZ2F3eXd2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzcxNTUwNywiZXhwIjoyMTAzMjkxNTA3fQ.o5d2-RONzM3EpNVlVmGUW-j-CKSm9fvlwTGPqyYEvLs
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=